@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row" style="margin-top:40px">
    <div class="col-md-12">
        <img class="center-block" src="~/images/logo_t.png" />
        <div class="center-block box-register" style="margin-top:30px;">

        <div class="row"></div>
            <h3 class="text-center">ลงทะเบียน</h3>
            <br/>
            <form id="registerForm" role="form">
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-credit-card"></i>
                    </span>
                    <input id="cid_card" type="text" class="form-control" placeholder="รหัสบัตรประชาชน" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="13" />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user">&nbsp;</i>
                    </span>
                    <input id="fname" type="text" class="form-control" placeholder="ชื่อ" onkeypress="return !(event.charCode >= 48 && event.charCode <= 57)" />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-users"></i>
                    </span>
                    <input id="lname" type="text" class="form-control" placeholder="นามสกุล" onkeypress="return !(event.charCode >= 48 && event.charCode <= 57)" />
                </div>
                <div class="form-group input-group">
                    <input id="birthdate" type="text" class="form-control" placeholder="วันเดือนปีเกิด" readonly style="background-color:white" />
                    <span class="input-group-btn">
                        <button id="birthdateButton" class="btn btn-default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone" style="font-size:17px;"></i>
                    </span>
                    <input id="mobile" type="text" class="form-control" placeholder="เบอร์โทรศัพท์" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="10" />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input id="email" type="text" class="form-control" placeholder="อีเมล">
                </div>
                <button class="btn btn-default btn-panel-yellow pull-left" type="button" style="width:120px" onclick="confirm()">ยืนยัน</button>
                <button class="btn btn-default btn-panel-yellow pull-right" type="button" style="width:120px" onclick="location.href='@Url.Action("Index", "members")'">เข้าสู่ระบบ</button>

            </form>
            <br/>
            



        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modalForm1" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="registerModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="registerModalLabel" style="vertical-align:middle;">ลงทะเบียน</h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="registerMsg" style="color:red;">กรุณากรอกข้อมูลให้ครบถ้วน</div>
                <br />

                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-panel-yellow" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
